---
layout: default
title: Home
---

<div class="post">
    <h2 id = "post-title">Sarah's Tri 3 CSA Homepage</h2>
    <div class = "featured-img-container">
        <img src="assets/img/airplane.jpg">
    </div>
    
<h2 id="timebox">Timebox</h2>
<table>
<thead>
<tr>
<th style="padding-right: 30px;">Week</th>
<th style="padding-right: 30px;">Notes</th>
<th style="padding-right: 30px;">Reflecion</th>
<th style="padding-right: 30px;">Repl</th>
<th style="padding-right: 30px;">IntelliJ</th>
<th style="padding-right: 30px;">Ticket</th>
</tr>
</thead>
<tbody>
<tr>
<td>5</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weekfive">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/avabrooks/swagketo">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/7">ticket</a></td>
</tr>
<tr>
<td>4</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weekfour">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/tree/main/algorithms">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/6">ticket</a></td>
</tr>
<tr>
<td>3</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weekthree">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/tree/main/algorithms">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/4">ticket</a></td>
</tr>
<tr>
<td>2</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weektwo">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/tree/main/algorithms">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/3">ticket</a></td>
</tr>
<tr>
<td>1</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weekone">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/tree/main/algorithms">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/2">ticket</a></td>
</tr>
<tr>
<td>0</td>
<td><a href="https://sarahwxie.github.io/csatrimester3/tech_talk">notes</a></td>
<td><a href="https://sarahwxie.github.io/csatrimester3/weekzero">reflection</a></td>
<td><a href="https://replit.com/@Sarahwxie/sarahChallange">repl</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3">intelliJ</a></td>
<td><a href="https://github.com/sarahwxie/csatrimester3/issues/1">ticket</a></td>
</tr>
</tbody>
</table>
<h2 id="important-links">Important Links</h2>
<table>
<thead>
<tr>
<th>Team Github</th>
<th>Team GitHub Pages</th>
<th>Profile</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://github.com/avabrooks/swagketo">link</a></td>
<td><a href="https://avabrooks.github.io/swagketo/">link</a></td>
<td><a href="https://github.com/sarahwxie">link</a></td>
</tr>
</tbody>
</table>
<h2 id="previous-activities">Previous Activities</h2>
<p>Trimester 2 Reflection: <a href="https://sarahwxie.github.io/csatrimester3/editing_reflections">link</a></p>
</div>
